@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    80%{

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    80%{

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes line {
    0%{
        background-color:red; left: 200px; top:0px;
    }
    20%{
        background-color: azure; left: 400px; top:0px
    }
    40% {
        background-color: blue; left: 600px; top:0px
    }
    60% {
        background-color: orangered; left: 800px; top:0px
    }
    80% {
        background-color: brown; left: 1000px; top:0px
    }
    100% {
        background-color: black; left: 1100px; top:0px
    }
    10%{
        background-color:red; left: 100px; top:0px;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes straight{
    0%{
        transform: translateX(0);
        background: #24ecff;
    }
    100%{
        transform: translate(1200px);
        background: #24ecff;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}